*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  font-family:/* Safari for OS X and iOS */
      -apple-system,
      /* Chrome >= 56 for OS X , Windows, Linux and Android */ system-ui,
      /* Chrome < 56 for OS X */
      BlinkMacSystemFont,
      /* Windows */
      "Segoe UI",
      /* Android */
      "Roboto",
      /* Basic web fallback */
      "Helvetica Neue", Arial, sans-serif;
}