@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family:/* Safari for OS X and iOS */
        -apple-system,
        /* Chrome >= 56 for OS X , Windows, Linux and Android */ system-ui,
        /* Chrome < 56 for OS X */
        BlinkMacSystemFont,
        /* Windows */
        "Segoe UI",
        /* Android */
        "Roboto",
        /* Basic web fallback */
        "Helvetica Neue", Arial, sans-serif;
}

#jumbotronbg {
    background-image: url("../images/background.jpg");
    opacity: 0.9;
    background-position-y: 22px;
    background-repeat: no-repeat;
    background-size: 100% 99%;
    height: 100vh;
}

.headers {
    margin: 0px auto 30px auto;
    text-align: center;
    text-shadow: 2px 3px gray;
}

.mainMiddle {
    height: 100vh;
}

.middle {
    max-width: 80%;
    position: relative;
    margin: 0px auto 80px auto;
}

#carouselExampleIndicators {
    display: inline-block;
    max-width: 600px;
    margin-top: 100px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: rgb(248, 245, 245, 0.1);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    outline: black;
    background-color: gray;
    background-size: 80%, 100%;
}

.annoucement {
    display: block;
    float: left;
    margin-top: 100px;
}

.card {
    height: 520px;
    width: 100%;
}

.card-header {   
    padding: 25px;                                   
    background-image: url("../images/new.png");
    background-repeat: no-repeat;
}

.goDelete {
    /* text-align: center; */
    height: 25px;
    width: 25px;
    position: absolute;
    top: 12px;
    right: 10px;
    text-align: center;
}

.card-img-top {
    height: 260px;
}

.card-footer {     
    position: absolute;
    bottom: 0px;
}

.items {
    margin: 0px auto 30px auto;
}

#footer {
    background-color: black;
    width: 100%;
    color: gray;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

.btn-text {
    position: relative;
    top: -5px;
    left: -5px;
}

@media only screen and (max-width: 992px){
    #jumbotronbg {
        background-position-x: 52%;
        background-position-y: 25px;
        background-repeat: no-repeat;
        background-size: 210% 96%;
    }

    .stores {
        height: 100%;
    }

    .annoucement {
        margin: 30px auto;
    }

    .items {
        margin: auto 0px 30px auto;
    }

    .card-footer {     
        height: 100%;
        position: relative;
    }

    #goodsName {
        width: 290px !important;
    }
}